footer,
.footer-bottom-container {
  padding: 24px 0;
  box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.footer-links-container {
  padding: 0 40px;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

.links-container {
  margin-right: 50px;
  width: 190px;
}

.links-container:last-child {
  padding-right: 0;
}

.links-container ul {
  line-height: 1.5;
}

.links-container ul li {
  color: rgba(0, 0, 0, 0.56);
  cursor: pointer;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.links-container ul li:hover {
  color: rgba(0, 0, 0, 0.87);
}

.footer h3 {
  font-weight: 400;
  margin-bottom: 24px;
}

.footer-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-bottom-container > * {
  margin-bottom: 24px;
}

.social-icons ul,
.footer-cta-container ul {
  display: flex;
}

.social-icons ul li,
.footer-cta-container ul li {
  margin: 0 20px;
}

.copyright-notice {
  display: flex;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.56);
}
